
                  ○○○○○      ○○○○○
                ○      ○○  ○○      ○
            ○○○○         ○○         ○○○○
               ○         ○○         ○
                ○      ○○  ○○      ○
                  ○○○○○      ○○○○○


                {{ hostname_short }}

                Managed with boffyn
